{%extends 'User/base.html' %}
{%block title%}
    Add Contests
{%endblock%}
{% load crispy_forms_tags %}
{%block content%}


<div class="container-fluid" style="padding-right: 25%;padding-left: 25%;padding-top: 5%;padding-bottom: 25%;">
    <form method="POST" enctype="multipart/form-data" class="form-group jumbotron" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;background-color: #b6d6f8;">
        <legend class="text-center pb-3">Create New Contest</legend>
    <hr>
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Create Contest">
    </form>
</div>
{%endblock%}