{%extends 'User/base.html' %}

{%block title%}
    Contests
{% endblock %}

{% load crispy_forms_tags %}

{%block content%}
<h1 class="mt-5 text-center">It's Contest Section</h1>
<div class="card mt-5" style="margin-left: 20%;margin-right: 20%;">
    
    <div class="card-header bg-primary">
        <h5>Title : {{object.contest_name}}</h5>
    </div>
    <div class="card-body">
        <h5>Starting Time :</h5>{{object.start_time}}
        <h5>End Time :</h5>{{object.end_time}}
    </div>
    <div class="card-body">
        <h5>Problems</h5>
      <blockquote class="blockquote mb-0">
        <p>
            {{ object.problems.all.0 }}<br/>
            {{ object.problems.all.1 }}<br/>
            {{ object.problems.all.2 }}<br/>
            {{ object.problems.all.3 }}<br/>
            {{ object.problems.all.4 }}
        </p>
        <footer class="blockquote-footer">Contest Setter : <cite title="Source Title">{{object.setter}}</cite></footer>
      </blockquote>
    </div>
  </div>



    <br/>
    <br/>

    
{% endblock %}