{%extends 'User/base.html' %}

{%block title%}
    Tutorials
{% endblock %}

{% block content %}

<div class="card mt-5 ml-5 mr-5">
    <div class="card-header bg-warning">
        {{tutorials.tutorial_title}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
            {{tutorials.tutorial_text|safe}}
        </p>
        <footer class="blockquote-footer">Tutorial made by <cite title="Source Title">{{tutorials.creator}}</cite></footer>
      </blockquote>
    </div>
  </div>

{% endblock %}


