{%extends 'User/base.html' %}
{%block title%}
    Add Problems
{%endblock%}
{% load crispy_forms_tags %}
{%block content%}


<div class="container-fluid" style="padding-right: 20%;padding-left: 20%;padding-top: 5%;padding-bottom: 25%;">
    <form method="POST" enctype="multipart/form-data" class="form-group jumbotron" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;background-color: #D6F7E7;">
        <legend class="text-center pb-3">Add New Problems</legend>
    <hr>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Add Problem">
    </form>
</div>
{%endblock%}