{%extends 'User/base.html' %}

{%block title%}
    categories
{% endblock %}

{%block content %}
  <h2 class="text-center text-dark my-5">Categories</h2>
  <div class="row mb-5">
    <div class="col-lg-4">
      <div class="card text-center"style="width: 25rem;">
        <div class="card-body">
          <a href="{% url 'problems' %}"> <img class="card-img-top" src="https://images.unsplash.com/photo-1526379095098-d400fd0bf935?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80"></a>
            <a style="text-decoration:none; color:black;" href="{% url 'problems' %}"><h3 class="card-title">Basic Python</h3></a>
            <a style="text-decoration:none; color:black;" href="{% url 'problems' %}"><p class="card-text">Welcome! Are you completely new to programming? If not then we presume you will be looking for information about why and how to get started with Python. Fortunately an experienced programmer in any programming language (whatever it may be) can pick up Python very quickly</p></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-center"style="width: 25rem;">
        <div class="card-body">
          <a href="{% url 'problems' %}"><img class="card-img-top" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cHl0aG9uJTIwcHJvZ3JhbW1pbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
          <a style="text-decoration:none; color:black;" href="{% url 'problems' %}"><h3 class="card-title">Conditionals</h3></a>
          <a style="text-decoration:none; color:black;" href="{% url 'problems' %}"><p class="card-text">Conditional Statement in Python perform different computations or actions depending on whether a specific Boolean constraint evaluates to true or false. Conditional statements are handled by IF statements in Python</p></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-center"style="width: 25rem;">
            <div class="card-body">
              <a href="http://google.com"><img class="card-img-top" src="https://images.unsplash.com/photo-1517650862521-d580d5348145?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3w2MzIzOTU0OXx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
              <a style="text-decoration:none; color:black;" href="{% url 'problems' %}"><h3 class="card-title">Loops & Array</h3></a>
              <a style="text-decoration:none; color:black;" href="{% url 'problems' %}"><p class="card-text"> Python provides three ways for executing the loops. While all the ways provide similar basic functionality, they differ in their syntax and condition checking time.</p></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card text-center"style="width: 25rem;">
            <div class="card-body">
              <a href="{% url 'problems' %}"><img class="card-img-top" src="https://images.unsplash.com/photo-1555949963-aa79dcee981c?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OHw2MzIzOTU0OXx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
                <a  style="text-decoration:none; color:black;" href="{% url 'problems' %}"> <h3 class="card-title">Function</h3></a>
                  <a  style="text-decoration:none; color:black;" href="{% url 'problems' %}"><p class="card-text">An array is a collection of items stored at contiguous memory locations. The idea is to store multiple items of the same type together. This makes it easier to calculate the position of each element by simply adding an offset to a base value, i.e., the memory location of the first element of the array (generally denoted by the name of the array).</p></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-center"style="width: 25rem;">
            <div class="card-body">
              <a href="http://google.com"> <img class="card-img-top" src="https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OXw2MzIzOTU0OXx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
                <a style="text-decoration:none; color:black;" href="{% url 'problems' %}"><h3 class="card-title">Class & Objects</h3></a>
                  <a  style="text-decoration:none; color:black;" href="{% url 'problems' %}"> <p class="card-text">Python is an object oriented programming language. Almost everything in Python is an object, with its properties and methods. A Class is like an object constructor, or a "blueprint" for creating objects.</p></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-center"style="width: 25rem;">
            <div class="card-body">
              <a href="{% url 'problems' %}"><img class="card-img-top" src="https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NXw2MzIzOTU0OXx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
                <a style="text-decoration:none; color:black;"  href="{% url 'problems' %}"><h3 class="card-title">File Handling</h3></a>
                <a style="text-decoration:none; color:black;" href="{% url 'problems' %}"><p class="card-text">To read or write to a file, you need to open it first. To open a file in Python, use its built open() function. This function returns a file object, i.e., a handle. You can use it to read or modify the file.</p></a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}