{%extends 'User/base.html' %}

{%block title%}
    categories
{% endblock %}

{%block content %}
      
  <style>
      .card{
        width : 350px;
        height : 400px;
        margin-left : 115px;
        margin-top : 30px; 
        border-radius : 30px;
        box-shadow: 5px 10px 8px #888888;
      }

      .row{
        width:1200px;
      }
        h1 {
       font-size : 50px;
      }

  </style>
  <h1 class="text-center text-dark my-5">Categories</h1>
      <!--card texts-->
      <div class="row">
        <div class="col-lg-4">
          <div class="card text-center">
            <div class="card-body">
              <a href="{% url 'problems-list' %}"><img class="card-img-top" src="https://image.freepik.com/free-vector/code-review-concept-illustration_114360-3973.jpg" style="padding : 5px;"></a>
                <a style="text-decoration: none;color:#4f4f4f;" href="{% url 'problems-list' %}"><h3 class="card-title">Basic Python</h3></a>
               
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center">
          <div class="card-body">
              <a href="{% url 'problems-list' %}"><img class="card-img-top"src="https://image.freepik.com/free-vector/code-typing-concept-illustration_114360-3581.jpg"></a>
                <a style="text-decoration: none;color:#4f4f4f;" href="{% url 'problems-list' %}"><h3 class="card-title">Conditionals</h3></a>
                
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center">
          <div class="card-body">
              <a href="{% url 'problems-list' %}"><img class="card-img-top" src="https://image.freepik.com/free-vector/illustration-refresh-icon_53876-5630.jpg"></a>
              <a style="text-decoration: none;color:#4f4f4f;" href="{% url 'problems-list' %}"><h3 class="card-title">Loops & Array</h3></a>
              
              
          </div>
        </div>
      </div>
       <div class="col-lg-4">
          <div class="card text-center">
            <div class="card-body">
              <a href="{% url 'problems-list' %}"><img class="card-img-top" src="https://image.freepik.com/free-vector/operating-system-concept-illustration_114360-2762.jpg" style="padding : 5px;"></a>
                <a style="text-decoration: none;color:#4f4f4f;" href="{% url 'problems-list' %}"><h3 class="card-title">Function</h3></a>
                
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center">
          <div class="card-body" style="margin-top:30px;">
              <a href="{% url 'problems-list' %}"><img class="card-img-top"src="https://image.freepik.com/free-vector/online-resume-concept-illustration_114360-5122.jpg"></a>
                <a style="text-decoration: none;color:#4f4f4f;" href="{% url 'problems-list' %}"><h3 class="card-title">Class & Objects</h3></a>
                
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center">
          <div class="card-body">
              <a href="{% url 'problems-list' %}"><img class="card-img-top" src="https://image.freepik.com/free-vector/developer-activity-concept-illustration_114360-2801.jpg"></a>
              <a style="text-decoration: none;color:#4f4f4f;" href="{% url 'problems-list' %}"><h3 class="card-title">File Handling</h3></a>
              
          </div>
        </div>
      </div>
    </div>
  
{% endblock %}