{%extends 'User/base.html' %}

{%block title%}
    Solve
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 ml-5 mr-5 mt-5 mb-5">

        <form action="/problems/solve/run" method="post">
          {% csrf_token %}
          <div class="form-group row">
            <div class="col-sm-7 mr-5 ml-3">
              <label for="comment"><h4>Coding Area</h4></label>
              <textarea class="form-control" rows="14" name="code_area" style="border:1px solid grey; letter-spacing: 1px; font-family: 'Lucida Console'; font-size: 20px; " onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{code}}</textarea>
            </div>

            <div class="col-sm-3">
              <div class="row mb-4">
                <label for="comment"><h5>Input</h5></label>
                <textarea class="form-control" rows="7" name="input_area" style="border:1px solid grey;">{{input}}</textarea>
              </div>
              <div class="row">
                <label for="comment"><h5>Output</h5></label>
                <textarea class="form-control" rows="7" name="output_area" style="border:1px solid grey;" disabled>{{output}}</textarea>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-7 ml-3">
              <button class="btn btn-outline-success float-left" type="submit">Run Your Code </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  {% endblock %}
