{%extends 'User/base.html' %}

{%block title%}
    Problems
{% endblock %}

{% load crispy_forms_tags %}

{%block content%}
  {% if user.is_authenticated and user.is_staff and user.is_superuser %}
  
    <div class="card text-center mt-5" style="margin-left: 20%;margin-right: 20%;">
      <div class="card-header bg-success text-white">
        <h5>Upload Problem</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Problem Uploading Page</h5>
        <p class="card-text">Only Admins Can Upload Problems through this page.</p>
        <a class="btn btn-success" href="{% url 'add-problem' %}">Upload</a>
      </div>
    </div>

    <div class="container">
      <h2 class="text-center my-5">Basic Problems</h2>
        <div class="list-group">
          {% for problem in object_list %}

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <strong>
                  {{problem.problem_name}}
                </strong></h5>
              <a href="{% url 'solve-section' problem.pk %}" class="btn btn-success" style="float:left;">Solve Problem</a>
              <a href="{% url 'delete-problem' problem.pk %}" class="btn btn-danger" style="float:right;">Delete</a>
              <a href="{% url 'update-problem' problem.pk %}" class="btn btn-primary" style="float:right;">Edit</a>
            </div>
          </div>

          {% endfor %}
        </div>
    </div>
      
  {% else %}
    <div class="container">
      <h2 class="text-center my-5">Basic Problems</h2>
        <div class="list-group">

          {% for problem in object_list %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <strong>
                  {{problem.problem_name}}
                </strong></h5>
              <a href="{% url 'solve-section' problem.pk %}" class="btn btn-success" style="float:right;">Solve Problem</a>
            </div>
          </div>
          {% endfor %}
          
        </div>
    </div>
  {% endif %}

{% endblock %}