{%extends 'User/base.html' %}

{%block title%}
    Problems
{% endblock %}

{%block content%}
  <div class="container">
    <h2 class="text-center my-5">Basic Problems</h2>
    <div class="list-group">
      <a href="{% url 'editor' %}" class="list-group-item list-group-item-action list-group-item-success py-4"><strong>Basic Python</strong></a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success py-4"><strong>Conditionals</strong></a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success py-4"><strong>Loops & Array</strong></a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success py-4"><strong>Function</strong></a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success py-4"><strong>Class & objects</strong></a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success py-4"><strong>File Handling</strong></a>
    </div>
  </div>

{% endblock %}