{%extends 'User/base.html' %}

{%block title%}
    Solve
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<!-- <div class="card">
    <div class="card-header">
        {{object.problem_name}}  
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{object.Problem_text}}</p>
        <footer class="blockquote-footer">Author<cite title="Source Title">{{object.setter}}</cite></footer>
      </blockquote>
    </div>
  </div>

    <pre>
        <code>
            {{object.input}}    
        </code>
    </pre> -->


  <div class="container float">
    <div class="row mt-5">
      <div class="col-lg-8" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
        <div class="card">
          <div class="card-header">
              {{object.problem_name}}  
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{object.Problem_text}}</p>
              <h3>Sample Input</h3>
              <div class="jumbotron">
      
              </div>
              <h3>Sample Output</h3>
              <div class="jumbotron">
      
              </div>
              <footer style="float:right;" class="blockquote-footer">Author<cite title="Source Title">{{object.setter}}</cite></footer>
            </blockquote>
          </div>
        </div>
      
          <pre>
              <code>
                  {{object.input}}    
              </code>
          </pre>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <ul style="list-style-type: none;">
              <li class="py-2">Author</li>
              <li class="py-2">Difficulty</li>
              <li class="py-2">Max_Score</li>
              <li class="py-2">Submitted By</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul style="list-style-type: none;">
              <li class="py-2">
                <a href="#authorname">Miraj</a>
              </li>
              <li class="py-2">
                <a href="#difficulty">Easy</a>
              </li>
              <li class="py-2">
                <a href="#Max_score">10</a>
              </li>
              <li class="py-2">
                <a href="#submittedby">me</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  



    {%include 'Problems/editor.html' %}
{% endblock %}



  <!-- <div class="row mt-5">
    <div class="col-lg-8" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
      <div class="card">
        <div class="card-header">
            {{object.problem_name}}  
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{object.Problem_text}}</p>
            <h3>Sample Input</h3>
            <div class="jumbotron">
    
            </div>
            <h3>Sample Output</h3>
            <div class="jumbotron">
    
            </div>
            <footer style="float:right;" class="blockquote-footer">Author<cite title="Source Title">{{object.setter}}</cite></footer>
          </blockquote>
        </div>
      </div>
    
        <pre>
            <code>
                {{object.input}}    
            </code>
        </pre>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-6">
          <ul style="list-style-type: none;">
            <li class="py-2">Author</li>
            <li class="py-2">Difficulty</li>
            <li class="py-2">Max_Score</li>
            <li class="py-2">Submitted By</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul style="list-style-type: none;">
            <li class="py-2">
              <a href="#authorname">Miraj</a>
            </li>
            <li class="py-2">
              <a href="#difficulty">Easy</a>
            </li>
            <li class="py-2">
              <a href="#Max_score">10</a>
            </li>
            <li class="py-2">
              <a href="#submittedby">me</a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  

