
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>
    {% block title %}
    {% endblock %}
  </title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2DD197;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand"style="color:white;" href="{% url 'home' %}"><h3>PyJudge</h3></a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link text-light" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'profile' %}">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'logout' %}">logout</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'register'%}">register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'login'%}">login</a>
                  </li>
              {% endif %}
            </ul>
            <div class="btn-inline my-2 my-lg-0">
              <button class="btn btn-outline-info mr-sm-2" type="submit"><a href="{% url 'register'%}">Sign up</a></button>
              <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><a href="{% url 'login'%}">log in</a></button>
            </div>
          </div>
        </nav>
   </header>
   
   <div>
    {% block content %}

    {% endblock %}
   </div>



   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
