{% extends 'User/base.html'%}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <script>
        document.getElementsByID("black1").innerHTML="";
        document.getElementsByID("black2").innerHTML="";
        document.getElementsByID("black3").innerHTML="";
    </script>

    <div class="container" style="padding-left:25%;padding-right:25%;">
        <form method="post" class="form-group">
            {% csrf_token  %}
            <fieldset>
                {{ form}}
            </fieldset>
            <button class="form-group btn btn-outline-info" type="submit">
                Sign Up
            </button>
        </form>

    </div>


{% endblock %}
