{%extends 'User/base.html' %}
{%block title%}
Register

{%endblock%}

{% load crispy_forms_tags %}

{% block content %}

    <script>
        document.getElementById("blank1").innerText=" ";
        document.getElementById("blank2").innerText=" ";
        document.getElementById("blank3").innerText=" ";
        document.getElementById("blank4").innerText=" ";

    </script>
<div class="container-fluid">
    <form method="POST" class="form-group jumbotron" style="box-shadow: #4f4f4f;background-color: #38d39f">
        <legend class="text-center pb-3">Sign Up Now!</legend>
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form | crispy }}
        </fieldset>
        <div class="submit">
            <button class="form-group btn btn-info" type="submit">
                Sign up
            </button>
        </div>
    </form>
            <div style="padding-bottom: 15%;" class="border-top py-15%">
				Already have an account? <a class="text-center" href="{% url 'login' %}">sign in</a> here.
			</div>

</div>


{%endblock%}
